<style media="screen">
  ul {
    height : 75px;
    width: 200px;
    color: green;
    background-color: aqua;
    margin-bottom: 30px;
  }
</style>

<h1>All Animals in the Zoo</h1>


{{#each animals}}
<ul>
  <li>Animal: {{animalType}}</li>
  <li>Fierceness: {{fierceness}}</li>
</ul>
{{/each}}