<!-- 5. Output the animalType string, pet boolean, and fierceness number to the page for all the pets. -->

<h1>
	Animal: {{animalType}}
</h1>
<h1>
	You can have this animal as a pet: {{pet}}
</h1>
<h1>
	Fierceness Rating: {{fierceness}}
</h1>